In [ ]:
CREATE INDEX idx_email
on USER (email);

Indice simple
Se hace sobre un campo o columna 
donde se consulta mucho 
## indices compuestos
Va por mas columnas filtran columnas multiples
## Indeces Unicos
Garantizan que los valores de una columna o combinacion de columnas sean unicos

In [ ]:
CREATE UNIQUE idx_name on countryidx_name(name)
CREATE FULLTEXT INDEX idx_article_content on articles(content);

Para buscar palabra en un campo par buscartexto Exactamente igual
## Vistas 
Son objetos de base de datos que representan una consulta SQL guardada
Tabla virtual que no almacena fisicamente los datos
son utilies para simplifiacar consultas complejas, mejorar la seguridad el acceso a ciertos datos y facilitar la reutilizacion


Trabajar sobre esta vista

In [ ]:
CREATE VIEW nombre_vista AS -- consulta
    SELECT u.id , u.nombre , d.direccion, d.telefono
    FROM usuarios u
    JOIN detalles_usuarios D On u.id = d.dusuario_id;

In [ ]:
-- Active: 1709854338682@@127.0.0.1@3306@world
create VIEW VIEW_PopulationCity as
    select *
        from (
            select Name as cityName, Population, CountryCode
            from city
            order by Population desc
        ) as ciudades

        inner join (
            select Code, Name as CountryName, Continent
                from country
        ) as countryFilter on ciudades.CountryCode = countryFilter.Code

        where Continent <> 'Oceania' and Continent <> 'Antarctica';

**Sintaxis para cambiar una vista**

In [ ]:
-- Active: 1709854338682@@127.0.0.1@3306@world
CREATE or REPLACE viwe nombre_vista AS
    SELECT columnas
    FROM tablas
    WHERE condiciones;
    -- idiomas de columbia
SELECT lenguage -- campos que quiero abstrer
FROM world.countryLanguage L
JOIN world.country p on L.country = P.Code
WHERE P.name = "Colombia";

**Sintaxis para cambiar una vista**

## Funciones de Agregacion 
Estas fuinciones realizan una operacion especifica sobre todas las filas de un grupo
COUNT (*) Calcula el numero de Filas o registrs
COUNT (columna)= cuenta los resultados no nulos
si hay alguno con COUNT(*) nullos 
si la hace por un campo COUNT(columna) cuenta la columna como tal tal y si hay algun campo NULL pues no lo toma encuenta

In [ ]:
SELECT COUNT(telefono)
FROM Alumno;
SELECT COUNT(*)
FROM ALUMNO

In [ ]:
SELECT COUNT(DISTINCT codigo_fabricante)
FROM producto

## agrupaciones de datos GROUP-BY
- VAlores identicos de una tabla
- Resultado una unica fila resumen por cada grupo de elementos unicos formados
- el genera grupos por medio de los cuales sean iguales y genera un pormedio por cada codigo comun que agrup√≤ 
    + AVG(CAMPO)